{% extends 'base.html' %}
{% block content %}


<!-- Page Title Header Starts-->
<div class="row page-title-header">
    <div class="col-12">
        <div class="page-header">
            <h4 class="page-title">BCA Job Monitoring</h4>
        </div>
    </div>
</div>


<div class='row'>
    <div class="col-md-12">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">BCA Jobs Duration per Day</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 date-1">
                        <form action="" method="post" id="bca_duration_form" autocomplete="off">
                            Start Date:
                            <input class="form-control" type="text" name="start_date" id="min_date" required>
                            End Date:
                            <input class="form-control" type="text" name="end_date" id="max_date" required>
                            <input type="submit" id="search_duration" value="Submit" class="btn btn-primary">
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 grid-margin">
    <div class="card shadow mb-4 card-border">

        <div class="card-header py-3 card-border-header">
        <div class="row-1 d-flex align-items-end">
            <div class="col-sm-6">
            <h1 class="h3 text-gray-800">BCA JOBS</h1>
            </div>
            <!-- <div class="col-sm-6 d-flex justify-content-end">
            <div class="sort-wrapper d-flex justify-content-end">
                <div class="dropdown ml-3 toolbar-item">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownexport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Download</button>
                <div class="dropdown-menu" aria-labelledby="dropdownexport">
                    <a class="dropdown-item" href="#">Download as PDF</a>
                    <a class="dropdown-item" href="#">Download as Excel</a>
                    <a class="dropdown-item" href="#">Download as CSV</a>
                </div>
                </div>
            </div>
            </div> -->
        </div>
        </div>

        <div class="card-body">

            <div class="row">
                <div class="col-md-7 date-1">
                <form action="/bca_monitoring_date" method="post" autocomplete="off"> 

                    Start Date:
                    <input class="form-control" type="text" name="start_date" id="min_table" value="{{ minDate }}" required>
                    End Date:
                    <input class="form-control" type="text" name="end_date" id="max_table" value="{{ maxDate }}" required>
                    <input type="submit" id="search" value="Submit" class="btn btn-primary " name=""/>
                    <a class="btn btn-outline-primary" href="{{ url_for('bca_blueprint.bca_monitoring') }}">
                        <i class="mdi mdi-home-outline"></i>Home
                    </a>
                </form>  
                </div>
            </div>
            
            
            <div class="table-responsive">
                <div class="col-12">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                    <th>Run Date</th>                   
                    <th>Daily PRP Account</th>
                    <th>Daily PCODES</th>
                    <th>UsageType</br>Total</th>
                    <th>UsageType</br> DataDeducts</th>
                    <th>UsageType</br>SMSDeducts</th>
                    <th>UsageType</br>VoiceDeducts</th>
                    <th>UsageType</br>VasDeducts</th>
                    <th>UsageType</br>Topup</th>
                    <th>UsageType</br>Expiration</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for query_bca in bca_query.items %}
                    <tr">
                    <td>{{query_bca.RunDate}}</td>
                    <td>{{query_bca.Dly_Prp_Acct}}</td>
                    <td>{{query_bca.Dly_PCODES}}</td>
                    <td>{{query_bca.UsageType_Total}}</td>
                    <td>{{query_bca.UsageType_DataDeducts}}</td>
                    <td>{{query_bca.UsageType_SMSDeducts}}</td>
                    <td>{{query_bca.UsageType_VoiceDeducts}}</td>
                    <td>{{query_bca.UsageType_VasDeducts}}</td>
                    <td>{{query_bca.UsageType_Topup}}</td>
                    <td>{{query_bca.UsageType_Expiration}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>                    
            </div>

            <div class="row">
                <div></div>
                {% if bca_query.has_prev %}
                    <a class="btn btn-info mb-4 btn-space" href="{{ url_for('bca_blueprint.bca_monitoring', page=bca_query.prev_num) }}">Previous</a></li>
                {% else %}
                    <a class="btn disabled mb-4 btn-space" href="#">Previous</a></li>
                {% endif %}

                {% for page_num in bca_query.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page_num %}
                    {% if bca_query.page == page_num %}
                        <a class="btn btn-outline-info mb-4 btn-space" href="{{ url_for('bca_blueprint.bca_monitoring', page=page_num)}}">{{ page_num }}</a>
                    {% else %}
                        <a class="btn btn-info mb-4 btn-space" href="{{ url_for('bca_blueprint.bca_monitoring', page=page_num)}}">{{ page_num }}</a>
                    {% endif %}
                    {% else %}
                        ... 
                    {% endif %}
                {% endfor %}

                {% if bca_query.has_next %}
                    <a class="btn btn-info mb-4 btn-space" href="{{ url_for('bca_blueprint.bca_monitoring', page=bca_query.next_num) }}">Next</a></li>
                {% else %}
                    <a class="btn disabled mb-4 btn-space" href="#">Next</a></li>
                {% endif %}
            </div>



            
            
        </div>
    </div>
</div>  





{% endblock content %}

{% block scripts %}
<script src="../static/js/bca_monitoring.js"></script>
{% endblock %}

