{% extends 'base.html' %}
{% block content %}





<div class="row page-title-header">
  
  <div class="col-12">
    <div class="page-header">
      <h4 class="page-title">Talend Jobs Status</h4>
    </div>
  </div>
</div>


<div class="row">
  <!-- JOBS -->
  <div class="col-md-8 align-self-center">
    <div class="row">
      
      <!-- TOTAL JOBS -->
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card card-style border-left-1-1">
          <div class="card-body pb-0">
            <div class="d-flex justify-content-between" type="submit" name="running">
              <h4 class="card-title font-weight-semibold mb-0 text-muted">TOTAL NUMBER OF JOBS</h4>
            </div>
            <h2 class="font-weight-semibold mb-0">{{ query_distinct_count }}</h2>
          </div>
        </div>
      </div>

      <!-- COMPLETED JOBS -->
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card card-style border-left-2">
          <div class="card-body pb-0">
            <div class="d-flex justify-content-between" type="submit">
              <h4 class="card-title font-weight-semibold mb-0 text-muted">COMPLETED JOBS</h4>
            </div>
            <h2 class="font-weight-semibold mb-0">{{ ok }}</h2>
          </div>
        </div>
      </div>

      <!-- RUNNING JOBS -->
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card card-style border-left-1">
          <div class="card-body pb-0">
            <div class="d-flex justify-content-between" type="submit" name="running">
              <h4 class="card-title font-weight-semibold mb-0 text-muted">RUNNING JOBS</h4>
            </div>
            <h2 class="font-weight-semibold mb-0">{{ running }}</h2>
          </div>
        </div>
      </div>

      <!-- ERROR JOBS -->
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card card-style border-left-3">
          <div class="card-body pb-0">
            <div class="d-flex justify-content-between">
              <h4 class="card-title font-weight-semibold mb-0 text-muted">ERROR JOBS</h4>
            </div>
            <h2 class="font-weight-semibold mb-0">{{ error }}</h2>
          </div>
        </div>
      </div>

      <!-- MISFIRED JOBS -->
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card card-style border-left-4">
          <div class="card-body pb-0">
            <div class="d-flex justify-content-between">
              <h4 class="card-title font-weight-semibold mb-0 text-muted">MISFIRED JOBS</h4>
            </div>
            <h2 class="font-weight-semibold mb-0">{{ misfired }}</h2>
          </div>
        </div>
      </div>

      <!-- LONG RUNNING JOBS -->
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card card-style border-left-1-2">
          <div class="card-body pb-0">
            <a href="{{ url_for('lrj_blueprint.long_running_job')}}" class="stretched-link" name="running"></a>
            <div class="d-flex justify-content-between" type="submit" name="running">
              <h4 class="card-title font-weight-semibold mb-0 text-muted">LONG RUNNING JOBS (more than 30 mins)</h4>
            </div>
            <h2 class="font-weight-semibold mb-0">{{ long_running_count }}</h2>
          </div>
        </div>
      </div>
    
    </div>
  </div>

  <!-- DOUNUT CHART -->
  <div class="col-md-4 align-self-center">
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">   
        <div class="card card-border">
          <div class="card-body">
            <div class="my-auto" id="donutchart" height="200"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Page Title Header Ends-->

    




{% endblock content %}
{% block scripts %}
<script src="../static/js/job_monitoring.js"></script>
{% endblock %}

