{% extends 'base.html' %}
{% block content %}
<div class="row page-title-header">
    <div class="col-12">
        <div class="page-header">
            <h4 class="page-title">Manifests VS T1 Overview</h4>
        </div>
    </div>

</div>


<!-- Hive Variance -->
<div class='row'>
    <div class="col-md-12">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">Hive Variances per CDR Over Period</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 date-1">
                        <form action="/dqchecks_hive_excel" method="post" id="hive_overview_form" autocomplete="off">
                            Start Date:
                            <input class="form-control" type="text" name="start_date" id="min_hive" required>
                            End Date:
                            <input class="form-control" type="text" name="end_date" id="max_hive" required>
                            <select name="period" id="period_hive" required>
                                <option value="day">Day</option>
                                <option value="month">Month</option>
                                <option value="year">Year</option>
                            </select>
                            <input type="button" id="search_date_hive" value="Submit" class="btn btn-primary " name="hive_graph" />
                            <input type="submit" id="generate_excel_hive" value="Download Excel" class="btn btn-primary" style="background-color:#558B2F" name="hive_excel" />
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="variances_hive"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Oracle Variance -->
<div class='row'>
    <div class="col-md-12">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">FC Variances per CDR Over Period</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 date-1">
                        <form action="/dqchecks_oracle_excel" method="post" id="oracle_overview_form" autocomplete="off">
                            Start Date:
                            <input class="form-control" type="text" name="start_date" id="min_oracle" value="{{ minDate }}" required>
                            End Date:
                            <input class="form-control" type="text" name="end_date" id="max_oracle" value="{{ maxDate }}" required>
                            <select name="period" id="period_oracle" required>
                                <option value="day">Day</option>
                                <option value="month">Month</option>
                                <option value="year">Year</option>
                            </select>
                            <input type="button" id="search_date_oracle" value="Submit" class="btn btn-primary " name="" />
                            <input type="submit" id="generate_excel_oracle" value="Download Excel" class="btn btn-primary" style="background-color:#558B2F" name="hive_excel" />
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="variances_oracle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Hive Table -->
<div class="row">
    <div class="col-md-6">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">Hive Variance Table</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form action="/" method="post" id="variance_table_form_hive" autocomplete="off">
                            Start Date:
                            <input class="form-control" type="text" size="10" class="form-control" name="start_date" id="min_hive_table" value="{{ minDate }}" required>
                            End Date:
                            <input class="form-control" type="text" size="10" class="form-control" name="end_date" id="max_hive_table" value="{{ maxDate }}" required>
                            <input type="submit" id="search_date_hive_table" class="btn btn-primary" name="" />
                            CDR:
                            <select name="cdr" id="cdr_select_hive">
                                
                            </select>
                        </form>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table id="hive_table" class="table table-bordered" style="width:100%">
                            <thead>
                                <th>Date</th>
                                <th>CDR</th>
                                <th>Manifest Count</th>
                                <th>Hive Count</th>
                                <th>Variance</th>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Oracle table -->

    <div class="col-md-6">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">FC Variance Table</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form action="/" method="post" id="variance_table_form"
                            autocomplete="off">
                            Start Date:
                            <input class="form-control" type="text" size="10" class="form-control" name="start_date" id="min_oracle_table" value="{{ minDate }}" required>
                            End Date:
                            <input class="form-control" type="text" size="10" class="form-control" name="end_date" id="max_oracle_table" value="{{ maxDate }}" required>
                            <input type="submit" id="search_date_oracle_table" class="btn btn-primary" name="" />
                            CDR:
                            <select name="cdr" id="cdr_select_oracle">
                                
                            </select>
                        </form>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table id="oracle_table" class="table table-bordered" style="width:100%">
                            <thead>
                                <th>Date</th>
                                <th>CDR</th>
                                <th>Manifest Count</th>
                                <th>FC Count</th>
                                <th>Variance</th>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block scripts %}
<script src="../static/js/dq_overview_hive.js"></script>
<script src="../static/js/dq_overview_oracle.js"></script>
{% endblock %}