{% extends 'base.html' %}
{% block content %}
<div class="row page-title-header">

    <div class="col-12">
        <div class="page-header d-flex justify-content-between">
            <h4 class="page-title">Manifests VS T1-HIVE</h4>
            <a data-toggle="modal" data-target="#modal_threshold" href="#modal_threshold"><i class="typcn typcn-th-menu"></i></a>
        </div>
    </div>

</div>

<!-- Modal-->
<div class="modal fade" id="modal_threshold" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Choose status to generate EXCEL</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="/" method="post" autocomplete="off" id="form"> 
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <label class="input-group-text custome-font-size" for="inputGroupSelect01">CDR's</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01">
                        <option disabled selected>Choose...</option>
                        <option value="COM">COM</option>
                        <option value="VOU">VOU</option>
                        <option value="FIRST">FIRST</option>
                        <option value="MON">MON</option>
                        <option value="CM">CM</option>
                        <option value="ADJ">ADJ</option>
                        <option value="DATA">DATA</option>
                        <option value="VOICE">VOICE</option>
                        <option value="SMS">SMS</option>
                        <option value="CLR">CLR</option> 
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <label class="input-group-text">Threshold</label>
                    </div>
                    <input type="number" class="form-control custome-font-size" >
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="lrj_excel" value="Search">Apply</button>
            </div>
        </form>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 align-self-center">
        <div class="row">
            <div class="col-md-17 stretch-card">
                <div class="card card-style card-border">
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title font-weight-semibold mb-0 text-muted">COM</h4>
                        </div>
                        <h2 id="variance_com" class="font-weight-semibold mb-0">{{variance_com}}</h2>
                    </div>
                </div>
            </div>
            
            <div class="col-md-17 stretch-card">
                <div class="card card-style card-border">
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title font-weight-semibold mb-0 text-muted">VOU</h4>
                        </div>
                        <h2 id="variance_vou" class="font-weight-semibold mb-0">{{variance_vou}}</h2>
                    </div>
                </div>
            </div>
               
            <div class="col-md-17 stretch-card">
                <div class="card card-style card-border">
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title font-weight-semibold mb-0 text-muted">FIRST</h4>
                        </div>
                        <h2 id="variance_first" class="font-weight-semibold mb-0">{{variance_first}}</h2>
                    </div>
                </div>
            </div>
            
            <div class="col-md-17 stretch-card">
                <div class="card card-style card-border">
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title font-weight-semibold mb-0 text-muted">MON</h4>
                        </div>
                        <h2 id="variance_mon" class="font-weight-semibold mb-0">{{variance_mon}}</h2>
                    </div>
                </div>
            </div>

            <div class="col-md-17 stretch-card">
                <div class="card card-style card-border">
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title font-weight-semibold mb-0 text-muted">CM</h4>
                        </div>
                        <h2 id="variance_cm" class="font-weight-semibold mb-0">{{variance_cm}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class='row'>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-17 stretch-card">
                <div class="card card-style card-border">
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between align-items-center">
                            <h4 class="card-title font-weight-semibold mb-0 text-muted">ADJ</h4>
                            <!-- <p class="font-weight-semibold mb-0 ellipsis">+1.37%</p> -->
                            <a href="#"><i class="typcn typcn-th-menu"></i></a>
                                

                        </div>
                        <h2 id="variance_adj" class="font-weight-semibold mb-0">{{variance_adj}}</h2>
                    </div>
                </div>
            </div>  

            <div class="col-md-17 stretch-card">
                <div class="card card-style card-border">
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title font-weight-semibold mb-0 text-muted">DATA</h4>
                        </div>
                        <h2 id="variance_data" class="font-weight-semibold mb-0">{{variance_data}}</h2>
                    </div>
                </div>
            </div>

            <div class="col-md-17 stretch-card">
                <div class="card card-style card-border">
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title font-weight-semibold mb-0 text-muted">VOICE</h4>
                        </div>
                        <h2 id="variance_voice" class="font-weight-semibold mb-0">{{variance_voice}}</h2>
                    </div>
                </div>
            </div>

            <div class="col-md-17 stretch-card">
                <div class="card card-style card-border">
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title font-weight-semibold mb-0 text-muted">SMS</h4>
                        </div>
                        <h2 id="variance_sms" class="font-weight-semibold mb-0">{{variance_sms}}</h2>
                    </div>
                </div>
            </div>

            <div class="col-md-17 stretch-card">
                <div class="card card-style card-border">
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title font-weight-semibold mb-0 text-muted">CLR</h4>
                        </div>
                        <h2 id="variance_clr" class="font-weight-semibold mb-0">{{variance_clr}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class='row'>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4 stretch-card">
                <div class="card card-style card-border">
                    <div class="card-body pb-0">
                        <form action="" method="post" autocomplete="off" id="cdr_date_form_hive">
                            Date:
                            <input type="search" class="form-control" name="cdr_date_hive" id="cdr_date" size="8" required>
                            <button type="submit" value="Go" class="btn btn-primary " name="">Submit</button>
                            <a class="btn btn-outline-primary" href="{{ url_for('dq_blueprint.dq_manvshive')}}">
                                <i class="mdi mdi-home-outline"></i>Home
                            </a> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<!-- Variance -->
<div class='row'>
    <div class="col-md-12">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 d-flex align-items-end">
                    <div class="col-6">
                        <h1 class="h3 text-gray-800">Variances per CDR</h1>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <form action="" method="post" autocomplete="off" id="cdr_date_form_hive">
                            Date:
                            <input type="search" class="form-control" name="cdr_date_hive" id="cdr_date" size="10" required>
                            <button type="submit" value="Go" class="btn btn-primary " name="">Submit</button>
                            <a class="btn btn-outline-primary" href="{{ url_for('dq_blueprint.dq_manvshive')}}">
                                <i class="mdi mdi-home-outline"></i>Home
                            </a> 
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="variances_hive"></div>
            </div>
        </div>
    </div>
</div>

<div class='row'>
    <!-- COM -->
    <div class="col-md-6">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">COM</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="com_hive"></div>
            </div>
        </div>
    </div>
    <!-- VOU -->
    <div class="col-md-6">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">VOU</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="vou_hive"></div>
            </div>
        </div>
    </div>
</div>


<div class='row'>
    
</div>


<div class='row'>
    <!-- FIRST -->
    <div class="col-md-6">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">FIRST</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="first_hive"></div>
            </div>
        </div>
    </div>
    <!-- MON -->
    <div class="col-md-6">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">MON</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="mon_hive"></div>
            </div>
        </div>
    </div>
</div>

<div class='row'>
    <!-- CM -->
    <div class="col-md-6">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">CM</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="cm_hive"></div>
            </div>
        </div>
    </div>
    <!-- ADJ -->
    <div class="col-md-6">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">ADJ</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="adj_hive"></div>
            </div>
        </div>
    </div>
</div>


<div class='row'>
    <!-- DATA -->
    <div class="col-md-6">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">DATA</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="data_hive"></div>
            </div>
        </div>
    </div>
    <!-- VOICE -->
    <div class="col-md-6">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">VOICE</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="voice_hive"></div>
            </div>
        </div>
    </div>
</div>

<div class='row'>
    <!-- SMS -->
    <div class="col-md-6">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">SMS</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="sms_hive"></div>
            </div>
        </div>
    </div>
    <!-- CLR -->
    <div class="col-md-6">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">CLR</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="clr_hive"></div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="../static/js/dq_manvshive.js"></script>
<script src="../static/js/submit_cdr.js"></script>
{% endblock %}