{% extends 'base.html' %}
{% block content %}
<div class="row page-title-header">
    <div class="col-12">
        <div class="page-header">
            <h4 class="page-title">Manifests VS T1-ORACLE</h4>
        </div>
    </div>
</div>

<div class="row">
    <!-- JOBS -->
    <div class="col-md-12 align-self-center">
        <div class="row">
            <!-- RUNNING JOBS -->
            <div class="col-md-2 stretch-card">
                <div class="card card-style card-border">
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title font-weight-semibold mb-0 text-muted">COM</h4>
                        </div>
                        <h2 id="variance_com" class="font-weight-semibold mb-0">{{variance_com}}</h2>
                    </div>
                </div>
            </div>
            
            <!-- COMPLETED JOBS -->
            <div class="col-md-2 stretch-card">
                <div class="card card-style card-border">
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title font-weight-semibold mb-0 text-muted">VOU</h4>
                        </div>
                        <h2 id="variance_vou" class="font-weight-semibold mb-0">{{variance_vou}}</h2>
                    </div>
                </div>
            </div>
            
            
            <!-- ERROR JOBS -->
            <div class="col-md-2 stretch-card">
                <div class="card card-style card-border">
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title font-weight-semibold mb-0 text-muted">FIRST</h4>
                        </div>
                        <h2 id="variance_first" class="font-weight-semibold mb-0">{{variance_first}}</h2>
                    </div>
                </div>
            </div>
            
            <!-- MISFIRED JOBS -->
            <div class="col-md-2 stretch-card">
                <div class="card card-style card-border">
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title font-weight-semibold mb-0 text-muted">MON</h4>
                        </div>
                        <h2 id="variance_mon" class="font-weight-semibold mb-0">{{variance_mon}}</h2>
                    </div>
                </div>
            </div>

            <div class="col-md-2 stretch-card">
                <div class="card card-style card-border">
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title font-weight-semibold mb-0 text-muted">CM</h4>
                        </div>
                        <h2 id="variance_cm" class="font-weight-semibold mb-0">{{variance_cm}}</h2>
                    </div>
                </div>
            </div>

            <div class="col-md-2 stretch-card">
                <div class="card card-style card-border">
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title font-weight-semibold mb-0 text-muted">ADJ</h4>
                        </div>
                        <h2 id="variance_adj" class="font-weight-semibold mb-0">{{variance_adj}}</h2>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class='row'>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4 stretch-card">
                <div class="card card-style card-border">
                    <div class="card-body pb-0">
                        <form action="" method="post" autocomplete="off" id="cdr_date_form_oracle">
                            Date:
                            <input type="text" name="cdr_date_oracle" id="cdr_date" size="12" required>
                            <button type="submit" value="Go" class="btn btn-primary " name="">Submit</button>
                            <a class="btn btn-outline-primary" href="{{ url_for('dq_blueprint.dq_manvsoracle')}}">
                                <i class="mdi mdi-home-outline"></i>Home
                            </a>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-2 stretch-card">
                <div class="card card-style card-border">
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title font-weight-semibold mb-0 text-muted">DATA</h4>
                        </div>
                        <h2 id="variance_data" class="font-weight-semibold mb-0">{{variance_data}}</h2>
                    </div>
                </div>
            </div>
            
            <div class="col-md-2 stretch-card">
                <div class="card card-style card-border">
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title font-weight-semibold mb-0 text-muted">VOICE</h4>
                        </div>
                        <h2 id="variance_voice" class="font-weight-semibold mb-0">{{variance_voice}}</h2>
                    </div>
                </div>
            </div>
            
            <div class="col-md-2 stretch-card">
                <div class="card card-style card-border">
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title font-weight-semibold mb-0 text-muted">SMS</h4>
                        </div>
                        <h2 id="variance_sms" class="font-weight-semibold mb-0">{{variance_sms}}</h2>
                    </div>
                </div>
            </div>
            
            <div class="col-md-2 stretch-card">
                <div class="card card-style card-border">
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title font-weight-semibold mb-0 text-muted">CLR</h4>
                        </div>
                        <h2 id="variance_clr" class="font-weight-semibold mb-0">{{variance_clr}}</h2>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>

<!-- Variance -->
<div class='row'>
    <div class="col-md-12">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">Variances per CDR</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="variances_oracle"></div>
            </div>
        </div>
    </div>
</div>


<div class='row'>
    <!-- COM -->
    <div class="col-md-6">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">COM</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="com_oracle"></div>
            </div>
        </div>
    </div>
    <!-- VOU -->
    <div class="col-md-6">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">VOU</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="vou_oracle"></div>
            </div>
        </div>
    </div>
</div>


<div class='row'>
    <!-- FIRST -->
    <div class="col-md-6">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">FIRST</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="first_oracle"></div>
            </div>
        </div>
    </div>
    <!-- MON -->
    <div class="col-md-6">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">MON</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="mon_oracle"></div>
            </div>
        </div>
    </div>
</div>

<div class='row'>
    <!-- CM -->
    <div class="col-md-6">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">CM</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="cm_oracle"></div>
            </div>
        </div>
    </div>
    <!-- ADJ -->
    <div class="col-md-6">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">ADJ</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="adj_oracle"></div>
            </div>
        </div>
    </div>
</div>

<div class='row'>
    <!-- DATA -->
    <div class="col-md-6">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">DATA</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="data_oracle"></div>
            </div>
        </div>
    </div>
    <!-- VOICE -->
    <div class="col-md-6">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">VOICE</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="voice_oracle"></div>
            </div>
        </div>
    </div>
</div>

<div class='row'>
    <!-- SMS -->
    <div class="col-md-6">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">SMS</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="sms_oracle"></div>
            </div>
        </div>
    </div>
    <!-- CLR -->
    <div class="col-md-6">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">CLR</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="clr_oracle"></div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="../static/js/dq_manvsoracle.js"></script>
<script src="../static/js/submit_cdr.js"></script>
{% endblock %}