{% extends 'base.html' %}
{% block content %}
<div class="row page-title-header">
    <div class="col-12">
        <div class="page-header">
            <h4 class="page-title">Manifests VS T1 Overview</h4>
        </div>
    </div>

</div>


<!-- Hive Variance -->
<div class='row'>
    <div class="col-md-12">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">Hive Variances per CDR Over Period</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7 date-1">
                        <form action="" method="post" id="hive_overview_form" autocomplete="off">
                            Start Date:
                            <input type="text" name="datetimepickermin" id="min_hive" value="{{ minDate }}" required>
                            End Date:
                            <input type="text" name="datetimepickermax" id="max_hive" value="{{ maxDate }}" required>
                            <select name="period" id="period_hive" required>
                                <option value="day">Day</option>
                                <option value="month">Month</option>
                                <option value="year">Year</option>
                            </select>
                            <input type="submit" id="search" value="Go" class="btn btn-primary " name="hive_graph" />
                            <input type="submit" id="generate_excel" value="Go" class="btn btn-primary " name="hive_excel" />
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="variances_hive"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Oracle Variance -->
<div class='row'>
    <div class="col-md-12">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">FC Variances per CDR Over Period</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7 date-1">
                        <form action="" method="post" id="oracle_overview_form" autocomplete="off">
                            Start Date:
                            <input type="text" name="datetimepickermin" id="min_oracle" value="{{ minDate }}" required>
                            End Date:
                            <input type="text" name="datetimepickermax" id="max_oracle" value="{{ maxDate }}" required>
                            <select name="period" id="period_oracle" required>
                                <option value="day">Day</option>
                                <option value="month">Month</option>
                                <option value="year">Year</option>
                            </select>
                            <input type="submit" id="search" value="Go" class="btn btn-primary " name="" />
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="variances_oracle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}

{% block scripts %}
<script src="../static/js/dq_overview_hive.js"></script>
<script src="../static/js/dq_overview_oracle.js"></script>
{% endblock %}