{% extends 'base.html' %}
{% block content %}
<div class="row page-title-header">
    <div class="col-12">
        <div class="page-header">
            <h4 class="page-title">Manifests VS T1-ORACLE</h4>
        </div>
    </div>
</div>

<div class="row">
    <!-- JOBS -->
    <div class="col-md-12 align-self-center">
        <div class="row">
            <!-- RUNNING JOBS -->
            <div class="col-md-2 stretch-card">
                <div class="card card-style">
                    <div class="card-body pb-0">
                        <a href="{{ running }}" class="stretched-link"></a>
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title font-weight-semibold mb-0 text-muted">COM</h4>
                            <!-- <h2 class="font-weight-semibold mb-0">+1.37%</h2> -->
                        </div>
                        <h2 id="variance_com" class="font-weight-semibold mb-0">{{variance_com}}</h2>
                    </div>
                    <!-- <canvas class="mt-n4" height="90" id="total-revenue"></canva> -->
                </div>
            </div>
            
            <!-- COMPLETED JOBS -->
            <div class="col-md-2 stretch-card">
                <div class="card card-style">
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title font-weight-semibold mb-0 text-muted">VOU</h4>
                            <!-- <h2 class="font-weight-semibold mb-0">+1.37%</h2> -->
                        </div>
                        <h2 id="variance_vou" class="font-weight-semibold mb-0">{{variance_vou}}</h2>
                    </div>
                    <!-- <canvas class="mt-n4" height="90" id="stats-line-graph-1"></canva> -->
                </div>
            </div>
            
            
            <!-- ERROR JOBS -->
            <div class="col-md-2 stretch-card">
                <div class="card card-style">
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title font-weight-semibold mb-0 text-muted">FIRST</h4>
                            <!-- <h2 class="font-weight-semibold mb-0">+1.37%</h2> -->
                        </div>
                        <h2 id="variance_first" class="font-weight-semibold mb-0">{{variance_first}}</h2>
                    </div>
                    <!-- <canvas class="mt-n4" height="90" id="stats-line-graph-2"></canva> -->
                </div>
            </div>
            
            <!-- MISFIRED JOBS -->
            <div class="col-md-2 stretch-card">
                <div class="card card-style">
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title font-weight-semibold mb-0 text-muted">MON</h4>
                            <!-- <h2 class="font-weight-semibold mb-0">+1.37%</h2> -->
                        </div>
                        <h2 id="variance_mon" class="font-weight-semibold mb-0">{{variance_mon}}</h2>
                    </div>
                    <!-- <canvas class="mt-n4" height="90" id="stats-line-graph-3"></canva> -->
                </div>
            </div>

            <div class="col-md-2 stretch-card">
                <div class="card card-style">
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title font-weight-semibold mb-0 text-muted">CM</h4>
                            <!-- <h2 class="font-weight-semibold mb-0">+1.37%</h2> -->
                        </div>
                        <h2 id="variance_cm" class="font-weight-semibold mb-0">{{variance_cm}}</h2>
                    </div>
                    <!-- <canvas class="mt-n4" height="90" id="stats-line-graph-3"></canva> -->
                </div>
            </div>

            <div class="col-md-2 stretch-card">
                <div class="card card-style">
                    <div class="card-body pb-0">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title font-weight-semibold mb-0 text-muted">ADJ</h4>
                            <!-- <h2 class="font-weight-semibold mb-0">+1.37%</h2> -->
                        </div>
                        <h2 id="variance_adj" class="font-weight-semibold mb-0">{{variance_adj}}</h2>
                    </div>
                    <!-- <canvas class="mt-n4" height="90" id="stats-line-graph-3"></canva> -->
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class='row'>
    <div class="col-md-4">
        <div class="card shadow mb-4 card-border">
            <div class="card-body">
                <form action="" method="post" autocomplete="off" id="cdr_date_form_oracle">
                    Date:
                    <input type="text" name="cdr_date_oracle" id="cdr_date" required>
                    <button type="submit" value="Go" class="btn btn-primary " name="">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Variance -->
<div class='row'>
    <div class="col-md-12">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">Variances per CDR</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="variances_oracle"></div>
            </div>
        </div>
    </div>
</div>

<!-- COM -->
<div class='row'>
    <div class="col-md-12 grid-margin">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">COM</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="com_oracle"></div>
            </div>
        </div>
    </div>
</div>

<!-- VOU -->
<div class='row'>
    <div class="col-md-12 grid-margin">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">VOU</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="vou_oracle"></div>
            </div>
        </div>
    </div>
</div>

<!-- FIRST -->
<div class='row'>
    <div class="col-md-12 grid-margin">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">FIRST</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="first_oracle"></div>
            </div>
        </div>
    </div>
</div>

<!-- MON -->
<div class='row'>
    <div class="col-md-12 grid-margin">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">MON</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="mon_oracle"></div>
            </div>
        </div>
    </div>
</div>

<!-- CM -->
<div class='row'>
    <div class="col-md-12 grid-margin">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">CM</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="cm_oracle"></div>
            </div>
        </div>
    </div>
</div>

<!-- ADJ -->
<div class='row'>
    <div class="col-md-12 grid-margin">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">ADJ</h1>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="adj_oracle"></div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block scripts %}
<script src="../static/js/dq_manvsoracle.js"></script>
<script src="../static/js/submit_cdr.js"></script>
{% endblock %}