{% extends 'base_lzero.html' %}
{% block content %}





<div class="row page-title-header">
  
  <div class="col-12">
    <div class="page-header">
      <h4 class="page-title">Long Running Jobs as of {{ time.starttime }}</h4>
    </div>
  </div>
</div>


<div class="row justify-content-center" style="text-align:center;margin:0">
  <!-- JOBS -->
  <div class="col-md-8 align-self-center">
    <div class="row justify-content-center">

      <!-- RUNNING JOBS -->
      <div class="col-md-3 stretch-card">
        <div class="card card-style border-left-1">
          <div class="card-body pb-0">
            <a href="{{ url_for('lrj_blueprint.status_job', status='RUNNING') }}" class="stretched-link"></a>
            <div class="d-flex justify-content-between">
              <h4 class="card-title font-weight-semibold mb-0 text-muted">JOBS STILL RUNNING</h4>
            </div>
            <h2 class="font-weight-semibold mb-0">{{ running }}</h2>
          </div>
        </div>
      </div>

      <!-- COMPLETED JOBS -->
      <!-- <div class="col-md-6 grid-margin stretch-card">
        <div class="card card-style border-left-2">
          <div class="card-body pb-0">
            <a href="{{ url_for('lrj_blueprint.status_job', status='OK') }}" class="stretched-link"></a>
            <div class="d-flex justify-content-between">
              <h4 class="card-title font-weight-semibold mb-0 text-muted">COMPLETED LONG RUNNING JOBS</h4>
            </div>
            <h2 class="font-weight-semibold mb-0">{{ ok }}</h2>
          </div>
        </div>
      </div> -->


      <!-- ERROR JOBS -->
      <!-- <div class="col-md-6 grid-margin stretch-card">
        <div class="card card-style border-left-3">
          <div class="card-body pb-0">
            <a href="{{ url_for('lrj_blueprint.status_job', status='ERROR') }}" class="stretched-link"></a>
            <div class="d-flex justify-content-between">
              <h4 class="card-title font-weight-semibold mb-0 text-muted">ERROR TASK</h4>
            </div>
            <h2 class="font-weight-semibold mb-0">{{ error }}</h2>
          </div>
        </div>
      </div> -->

      <!-- MISFIRED JOBS -->
      <!-- <div class="col-md-6 grid-margin stretch-card">
        <div class="card card-style border-left-4">
          <div class="card-body pb-0">
            <a href="{{ url_for('lrj_blueprint.status_job', status='MISFIRED') }}" class="stretched-link"></a>
            <div class="d-flex justify-content-between">
              <h4 class="card-title font-weight-semibold mb-0 text-muted">MISFIRED TASK</h4>
            </div>
            <h2 class="font-weight-semibold mb-0">{{ misfired }}</h2>
          </div>
        </div>
      </div> -->
    
    </div>
  </div>
</div>
  <!-- DOUNUT CHART -->
<div class="row justify-content-center" style="text-align:center;margin:0">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12 stretch-card">   
        <div class="card card-border">
          <div class="card-header py-3 card-border-header ">
            <h1 class="h3 text-gray-800">Overall Status </h1>
          </div>
          <div class="card-body justify-content-center">
            <div class="my-auto" id="barchart_longrunning" height="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Title Header Ends-->

<div class="col-md-12 grid-margin">
  <div class="card shadow mb-4 card-border">

    <div class="card-header py-3 card-border-header ">
      <div class="row-1 d-flex align-items-end ">
        <div class="col-sm-6">
          <h1 class="h3 text-gray-800">Long Running Jobs</h1>
        </div>
        <div class="col-sm-6 d-flex justify-content-end">
          <div class="sort-wrapper d-flex justify-content-end">
            <div class="dropdown toolbar-item">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownexport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Download</button>
              <div class="dropdown-menu" aria-labelledby="dropdownexport">
                <a class="dropdown-item" href="#">Download as PDF</a>
                <a class="dropdown-item" data-toggle="modal" data-target="#lrj_modal_excel" href="#lrj_modal_excel">Download as Excel</a>
                <a class="dropdown-item" data-toggle="modal" data-target="#lrj_modal_csv" href="#lrj_modal_csv">Download as CSV</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="card-body">

      <div class="row">
        <div class="col-md-7 date-1">
          <form action="/lrj_datetime_lzero" method="post" autocomplete="off"> 
            Start Date:
            <input class="form-control" type="text" name="datetimepickermin" id="min" size="12" />
            End Date:
            <input class="form-control" type="text" name="datetimepickermax" id="max" size="12" />
            <input type="submit" id="search" value="Submit" class="btn btn-primary " name=""/>
          </form>  
        </div>
        <div class="col-md-5 date-2 table_filter d-flex justify-content-end">
          <form action="/lrj_search_lzero" method="post" autocomplete="off"> 
            <div class="input-group justify-content-end">
              <input class="form-control" type="text" name="tag" id="tag" size="15">
              <div class="input-group-append">
                <button class="btn btn-outline-primary" type="submit" value="Search">Search</button>
                <!-- <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Load all Jobs (Descending order)</a>
                  <a class="dropdown-item" href="#">Load all Jobs (Ascending order)</a>
                </div> -->
                <a class="btn btn-outline-primary" href="{{ url_for('lrj_blueprint.long_running_job_lzero')}}">
                  <i class="mdi mdi-home-outline"></i>Home
                </a>
              </div>
            </div>
          </form>           
        </div>
      </div>
          
          
      <div class="table-responsive">
        <div class="col-12">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
              <th>Job Start Time</th>
              <th>Duration in minutes</th>
              <th>Task Labels</th>
              <th>Job ID</th>
              <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {% for testing in query.items %}
              <tr">
                <td>{{testing.starttime}}</td>
                <td class="duration">{{testing.duration_mins}}</td>
                <td>{{testing.tasklabel}} </td>
                <td>{{testing.id}}</td>
                <td><label class="status">{{testing.status}}</label></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>                    
      </div>
      
      <div class="row">
        <div></div>
        {% if prev_num %}
          <a class="btn btn-info mb-4 btn-space" href="{{ prev_num }}">Previous</a></li>
        {% else %}
          <a class="btn disabled mb-4 btn-space" href="#">Previous</a></li>
        {% endif %}

        {% for page_num in query.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if page_num %}
            {% if query.page == page_num %}
              <a class="btn btn-outline-info mb-4 btn-space" href="{{ url_for('lrj_blueprint.long_running_job_lzero', page=page_num)}}">{{ page_num }}</a>
            {% else %}
              <a class="btn btn-info mb-4 btn-space" href="{{ url_for('lrj_blueprint.long_running_job_lzero', page=page_num)}}">{{ page_num }}</a>
            {% endif %}
          {% else %}
              ... 
          {% endif %}
        {% endfor %}

        {% if next_num %}
          <a class="btn btn-info mb-4 btn-space" href="{{ next_num }}">Next</a></li>
        {% else %}
          <a class="btn disabled mb-4 btn-space" href="#">Next</a></li>
        {% endif %}
      </div>

        
        
    </div>

    <!-- Modal CSV-->
    <div class="modal fade" id="lrj_modal_csv" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Choose status to generate CSV</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/lrj_generate_csv" method="post" autocomplete="off" id="form"> 
            <div class="modal-body">
              <select class="mdb-select md-form" id="status" name="status">
                <option value="" disabled selected>Choose your option</option>
                <option value="ALL">All</option>
                <option value="RUNNING">Running</option>
                <option value="OK">Completed</option>
                <option value="ERROR">Error</option>
                <option value="MISFIRED">Misfired</option>  
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" id="lrj_csv" value="Search">Export as CSV</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal EXCEL-->
    <div class="modal fade" id="lrj_modal_excel" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Choose status to generate EXCEL</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/lrj_generate_excel" method="post" autocomplete="off" id="form"> 
            <div class="modal-body">
              <select class="mdb-select md-form" id="status" name="status">
                <option value="" disabled selected>Choose your option</option>
                <option value="ALL">All</option>
                <option value="RUNNING">Running</option>
                <option value="OK">Completed</option>
                <option value="ERROR">Error</option>
                <option value="MISFIRED">Misfired</option>  
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" id="lrj_excel" value="Search">Export as Excel</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>   


    




{% endblock content %}

{% block scripts %}
<script src="../static/js/job_monitoring.js"></script>
{% endblock %}

