{% extends 'base.html' %}
{% block content %}


<!-- Header -->
<div class="row page-title-header">

    <div class="col-12">
        <div class="page-header">
        <h4 class="page-title">TOPSKU</h4>
        </div>
    </div>
</div>

<div class='row'>
    <div class="col-md-12 grid-margin">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">Amount per Brand every 4hrs of Date</h1>
                    </div>
                </div>
            </div>
            <div class="card-body ">
                <div class="row">
                    <div class="col-md-7 date-1">
                        <form action="" method="post" id="sku_day_form" autocomplete="off">
                            Date:
                            <input class="form-control" type="text" name="datetimepickermin" id="sku_date" value="{{ minDate }}" required>
                            <input type="submit" class="btn btn-primary " name="" />
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="topsku_day"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class='row'>
    <div class="col-md-12 grid-margin">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">Data Trend Based on Daliy Total Amount per Week</h1>
                    </div>
                </div>
            </div>
            <div class="card-body ">
                <div class="row">
                    <div class="col-md-7 date-1">
                        <form action="" method="post" id="sku_week_form" autocomplete="off">
                            Start Date:
                            <input class="form-control" type="text" class="form-control" name="datetimepickermin" id="sku_min" value="{{ minDate }}" required>
                            End Date:
                            <input class="form-control" type="text" name="datetimepickermax" id="sku_max" value="{{ maxDate }}" required>
                            <input type="submit" class="btn btn-primary " name="" />
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="topsku_week"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class='row'>
    <div class="col-md-12 grid-margin">
        <div class="card shadow mb-4 card-border">
            <div class="card-header py-3 card-border-header">
                <div class="row-1 align-items-end">
                    <div class="col-11">
                        <h1 class="h3 text-gray-800">Week on Week Amounts per Brand</h1>
                    </div>
                </div>
            </div>
            <div class="card-body ">
                <div class="row">
                    <div class="col-md-12">
                        <form action="" method="post" id="sku_table_form" autocomplete="off">
                            Date:
                            <input class="form-control" type="text" name="sku_date" id="sku_table_date" required>
                            Hour:
                            <select name="hour" id="sku_table_hour" required>
                                <option value="1">1 AM</option>
                                <option value="5">5 AM</option>
                                <option value="9">9 AM</option>
                                <option value="13">1 PM</option>
                                <option value="17">5 PM</option>
                                <option value="21">9 PM</option>
                            </select>
                            <input type="submit" class="btn btn-primary " name="" />
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table id="topsku_table" class="table table-bordered" style="width:100%">
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block scripts %}
<script src="../static/js/topsku_day.js"></script>
<script src="../static/js/topsku_week.js"></script>
{% endblock %}